<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/templates/login/style.css" />
    <title>Reception AGG</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" class="sign-in-form">
            <h2 class="title">Reception Sign in</h2>

            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Portal Email" id="portalEmail" />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="User Name" id="userName" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" id="passKey" />
            </div>
            <button type="submit" class="btn solid" id="login">Login </button> 
            
          </form>
          
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Reception Manager</h3>
            <p>
              Welcome to the Reception log in page
            </p>
           
          </div>
          <img src="/templates/login/img/log.svg" class="image" alt="" />
        </div>
       
      </div>
    </div>

    <script>

       

      document.getElementById('login').addEventListener('click',(event)=>{
        event.preventDefault();
        const portalEmail = document.getElementById('portalEmail').value;
        const userName = document.getElementById('userName').value;
        const passKey = document.getElementById('passKey').value;


        const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          portalEmail,userName,passKey
        }),
        }

        fetch(`/reception/login`, requestOptions)
        .then((response) =>  response.json())
        .then((data) => {
          if (!data.isMatch) alert(data.message)
          else window.location.href = "/reception/dashboard"
        })
        .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
