<link rel="stylesheet" href="/templates/admin-template/vendors/simple-datatables/style.css">
<div class="page-heading">
  <h3>Sales</h3>
</div>
  <section class="section">
    <div class="card">
      <div class="card-header">
        Simple Datatable
      </div>
      <div class="card-body">
        <table class="table table-striped" id="table1">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Date of order</th>
              <th>Portal name</th>
              <th>Selected Plan</th>
              <th>Total Amoint</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Graiden</td>
              <td>vehicula.aliquet@semconsequat.co.uk</td>
              <td>076 4820 8838</td>
              <td>Offenburg</td>
              <td>Offenburg</td>
              <td class="text-center">
                <span style="background-color: #4A8FF8;" class="badge p-2"><i class="bi bi-printer-fill px-2"></i>Print</span>

              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>

  </section>

<script
  src="/templates/admin-template/vendors/simple-datatables/simple-datatables.js"
></script>
<script>
  dataTable = new simpleDatatables.DataTable(table1);
</script>