<link
  rel="stylesheet"
  href="/templates/admin-template/vendors/simple-datatables/style.css"
/>
<div class="page-heading">
  <h3>Subs MGT</h3>
</div>
<div class="row">
  <div class="col-6 col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body px-3 py-4-5">
        <div class="row">
          <div class="col-md-4">
            <div class="stats-icon purple">
              <i class="iconly-boldShow"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="text-muted font-semibold">Current Plan</h6>
            <h6 class="font-extrabold mb-0">Yearly Plan</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body px-3 py-4-5">
        <div class="row">
          <div class="col-md-4">
            <div class="stats-icon blue">
              <i class="iconly-boldProfile"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="text-muted font-semibold">Days Left</h6>
            <h6 class="font-extrabold mb-0">183</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body px-3 py-4-5">
        <div class="row">
          <div class="col-md-4">
            <div class="stats-icon green">
              <i class="iconly-boldAdd-User"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="text-muted font-semibold">Plan Charge</h6>
            <h6 class="font-extrabold mb-0">$400</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body px-3 py-4-5">
        <div class="row">
          <div class="col-md-4">
            <div class="stats-icon red">
              <i class="iconly-boldBookmark"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="text-muted font-semibold">Next Plan</h6>
            <h6 class="font-extrabold mb-0">None</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="pricing">
        <div class="row align-items-center">
          <div class="col-md-4 px-0">
            <div class="card">
              <div class="card-header text-center">
                <h4 class="card-title">Monthly</h4>
                <p class="text-center">A standart features you can get</p>
              </div>
              <h1 class="price">$100</h1>
              <ul>
                <li><i class="bi bi-check-circle"></i>Lorem ipsum dolor sit amet</li>
                <li><i class="bi bi-check-circle"></i>Lorem ipsum dolor sit
                </li>
              </ul>
              <div class="card-footer">
                <button class="btn btn-primary btn-block">Order Now</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 px-0">
            <div class="card card-highlighted">
              <div class="card-header text-center">
                <h4 class="card-title">Yearly</h4>
                <p></p>
              </div>
              <h1 class="price text-white">$150</h1>
              <ul>
                <li><i class="bi bi-check-circle"></i>Lorem ipsum kolor sit amet</li>
                <li><i class="bi bi-check-circle"></i>Lorem ipsum dolor sit amet</li>
              </ul>
              <div class="card-footer">
                <button class="btn btn-outline-white btn-block">Order Now</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 px-0">
            <div class="card">
              <div class="card-header text-center">
                <h4 class="card-title">Quarterly</h4>
                <p class="text-center">A higher features you will need</p>
              </div>
              <h1 class="price">$100</h1>
              <ul>
                <li><i class="bi bi-check-circle"></i>Lorem ipsum dolor sit amet</li>
                <li><i class="bi bi-check-circle"></i>Lorem ipsum dolor sit
                </li>
              </ul>
              <div class="card-footer">
                <button class="btn btn-primary btn-block">Order Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script
  src="/templates/admin-template/vendors/simple-datatables/simple-datatables.js"
></script>
<script>
  dataTable = new simpleDatatables.DataTable(table1);
</script>