<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AGG | Hotels.</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/templates/user-template/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/templates/user-template/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/templates/user-template/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/templates/user-template/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/templates/user-template/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/templates/user-template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/templates/user-template/css/style.css" rel="stylesheet">
	<link href="/templates/user-template/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/templates/user-template/css/custom.css" rel="stylesheet">

</head>

<body>
    <!-- Wrapper -->
    {{{body}}}

  <!-- COMMON SCRIPTS -->
    <script src="/templates/user-template/js/jquery-2.2.4.min.js"></script>
    <script src="/templates/user-template/js/common_scripts.js"></script>
    <script src="/templates/user-template/js/main.js"></script>
	<script src="/templates/user-template/assets/validate.js"></script>
	
	<!-- DATEPICKER  -->
	<script>
	$(function() {
	  'use strict';
	  $('input[name="dates"]').daterangepicker({
		  autoUpdateInput: false,
		  locale: {
			  cancelLabel: 'Clear'
		  }
	  });
	  $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
		  $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
	  });
	  $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
		  $(this).val('');
	  });
	});
	</script>
	
	<!-- INPUT QUANTITY  -->
	<script src="/templates/user-template/js/input_qty.js"></script>

	<!-- SPECIFIC SCRIPTS -->
	<script src="/templates/user-template/js/pw_strenght.js"></script>
	
</body>
</html>