<link rel="stylesheet" href="/templates/admin-template/vendors/simple-datatables/style.css">
<div class="page-heading">
  <h3>Reception MGT</h3>
</div>
  <section class="section">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <span>Reception Users</span>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary px-3  fw-bolder" data-bs-toggle="modal"
                  data-bs-target="#receptionModal"> ADD USER </button>
          </div>


        </div>
      </div>
      <div class="card-body">
        {{#if receptionList}}
        <table class="table table-striped" id="table1">
          <thead>
            <tr>
              <th>Username</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each receptionList}}
            <tr>
              <td>{{this.userName}}</td>
              
              <td class="text-center">
                <button style="background-color: #FF5473; border:none;" class="btn btn-primary p-2"><i class="bi bi-x-square-fill px-2"></i> Delete</button>
                <button style="background-color: #4A8FF8; border:none" class="btn btn-primary p-2"><i class="bi bi-dash-circle-fill px-2"></i>Block</button>
              </td>
            </tr>
            {{/each}}
            
          </tbody>
        </table>
        {{else}}
        <h1 class="text-center">NO DATA</h1>
        {{/if}}
      </div>
    </div>

  </section>




<!-- MODAL OF RECEPTION REGISTRATION -->

<div class="modal fade text-left" id="receptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel33">
          ADD ROOM
        </h4>
        {{! <p>This is only for your request purpose.</p> }}
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <i data-feather="x"></i>
        </button>
      </div>
      <form id="addRoom" method="POST" action="/portal/reception-mgt/add-reception">

        <div class="modal-body">
          <label>Email: </label>
          <div class="form-group">
            <input type="text" placeholder="Reception Username" class="form-control" id="userName" name="userName" required />
          </div>
       

         
          <label>Password: </label>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" id="passKey" name="passKey"
              required />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Close</span>
          </button>
          <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">ADD</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>



<script
  src="/templates/admin-template/vendors/simple-datatables/simple-datatables.js"
></script>
<script>
  dataTable = new simpleDatatables.DataTable(table1);
</script>
