<div class="page-heading">
  <h3>
    Register
  </h3>
</div>
<section class="row">
  <div class="col-md-12 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          Enter the details of your place
        </h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form class="form form-vertical">
            <div class="form-body">
              <div class="row px-4">
                <div class="col-6">
                  <div class="form-group">
                    <label for="first-name-vertical">
                      What kind of place will you host?
                    </label>
                    <input
                      type="text"
                      id="first-name-vertical"
                      class="form-control"
                      name="fname"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="first-name-vertical">
                      What kind of space will guests have?
                    </label>
                    <input
                      type="text"
                      id="first-name-vertical"
                      class="form-control"
                      name="fname"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="first-name-vertical">
                      Description
                    </label>
                    <textarea
                      type="text"
                      id="first-name-vertical"
                      class="form-control"
                      placeholder="First Name"
                    ></textarea>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="first-name-vertical">
                      First Name
                    </label>
                    <input
                      type="text"
                      id="first-name-vertical"
                      class="form-control"
                      name="fname"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="first-name-vertical">
                      First Name
                    </label>
                    <input
                      type="text"
                      id="first-name-vertical"
                      class="form-control"
                      name="fname"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary me-1 mb-1">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>