<link
  rel="stylesheet"
  href="/templates/admin-template/vendors/simple-datatables/style.css"
/>
<div class="page-heading">
  <h3>Portal MGT</h3>

</div>
<section class="section">
  <div class="card">
    <div class="card-header">
      Simple Datatable
    </div>
    <div class="card-body">
      <table class="table table-striped" id="table1">
        <thead>
          <tr>
            <th>Image</th>
            <th>Portal Name</th>
            <th>Services</th>
            <th>Description</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each portalRequests}}
            <tr>
              <td>IMAGE</td>
              <td>{{portalTag}}</td>
              <td>
                <ul class="">
                  {{#if services.roomService.status}}<li> Room </li>{{/if}}
                  {{#if services.eventHall.status}} <li>Event Hall </li> {{/if}}
                  {{#if services.foodService}} <li>Food Services </li>{{/if}}
                </ul>
              </td>
              <td>{{portalBio}}</td>
              <td class="text-center">

                <button
                  onclick="window.location.href='/super-admin/portal-mgt/detailed-request/{{_id}}'"
                  style="background-color: #4A8FF8;"
                  class="btn btn-outline-light p-2"
                ><i class="bi bi-eyeglasses px-2"></i>Details</button>

              </td>
            </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>

</section>

<script
  src="/templates/admin-template/vendors/simple-datatables/simple-datatables.js"
></script>
<script>
  dataTable = new simpleDatatables.DataTable(table1);
</script>