<div class="page-heading">
  <h3>Services MGT</h3>
</div>
<section class="section">
  <div class="row card p-4">
    <div class="card-header text-center">
      <h4 class="card-title">Image Upload</h4>
      <p class="text-center">Upload some images of your portal..</p>
    </div>
    <div class="col-12 col-md-8 offset-md-2">
      <div class="pricing">
        <div class="row align-items-center justify-content-center">

          <form id="addImages" method="POST" action="/portal/registration/edit-room" enctype="multipart/form-data">
            <input type="hidden" name="roomId" id="roomId" value="{{roomService._id}}" />
            <div class="row">
              
              <div class="row d-flex justify-content-center py-4">
                {{#each roomService.roomImages}}
                <div class="col-md-6 col-sm-12" id="{{this}}">
                  <div class="card d-flex" style="width: 18rem;">

                    <img src="{{this}}" class="card-img-top" alt="..." />
                    <button type="button" class="btn btn-danger"
                      onclick="confirm('Delete this image?') && deleteImage('{{this}}') ">
                      Delete</button>
                  </div>
                </div>

                {{/each}}

              </div>

              <!-- Image upload  -->

              <label>Add Images: </label>
              <div class="form-group">
                <input class="form-control" type="file" name="photos" id="photos" accept="image/*" multiple />
              </div>

            </div>
            <div class="modal-footer">

              <button type="submit" class="btn btn-primary ml-1">
                <i class="bx bx-check d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Update</span>
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</section>

<script>
  function deleteImage(url) {
    let fileName = url.substring(url.lastIndexOf('/') + 1);

    const requestOptions = {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        roomId: document.getElementById('roomId').value,
        fileName,url
      }),
    }

    fetch(`/portal/service-mgt/edit-room/delete-image`, requestOptions)
      .then((response) => response.json())
      .then((data) => {
        console.log(data)
        if (!data.isSuccess) alert(data.message)
        else {
          document.getElementById(url).style.display = "none"
        }
      })
      .catch((err) => console.log(err));

  }
</script>